<div class="login-background" ng-app="upnote">
  <div class="login-card">
    <div class="login">
      <img class="logo" src="/images/upnote-logo-dark.png">
      <form class="form">
        <md-input-container>
          <label>Username</label>
          <input type="text" ng-model="formName" required>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="formPassword" required>
        </md-input-container>
        <button ng-show="formName && formPassword" type="button" class="login__submit">Sign in</button>
        <p class="login__signup">Don't have an account? &nbsp;<a>Sign up</a></p>
      </form>
    </div>
  </div>
</div>