<div class="login-background" ng-app="upnote">
  <div class="login-card">
    <div class="login">
      <img class="logo" src="/images/upnote-logo-dark.png">
      <form layout="column" class="login__form">
        <md-input-container md-no-float>
          <input type="text" ng-model="formName" placeholder="Username">
        </md-input-container>
        <md-input-container md-no-float>
          <input type="password" ng-model="formPassword" placeholder="Password">
        </md-input-container>
        <button  type="button" class="login__submit">Sign in</button>
        <p class="login__signup">Don't have an account? &nbsp;<a>Sign up</a></p>
      </form>
    </div>
  </div>
</div>