// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$login-card-color: #fff;
$font : 'Open Sans', Helvetica, Arial, sans-serif;
$background-url : "";


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}
.svg-icon {
  cursor: pointer;

  path {
    stroke: rgba(255,255,255,0.9);
    fill: none;
    stroke-width: 1;
  }
}
input, button {
  outline: none;
  border: none;
}

html, body {
	height:100%;
	margin:0;
	overflow: hidden;

	@media (max-width: 768px) {
    font-size: 170%;
  }
}

.login-background {
	background-image: url("http://i.imgur.com/UP7fWfg.jpg");
	background-size: cover;
	position: relative;
	height:100%;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 480px;
  height: 850px;
  overflow: hidden;
}

.login {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);
  
  &.inactive {
    opacity: 0;
    transform: scale(1.1);
  }

  &__submit {
    position: relative;
    width: 100%;
    height: 3rem;
    margin: 5rem 0 2.2rem;
    color: rgba(255,255,255,0.8);
    background: #FF3366;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      width: 3rem;
      height: 3rem;
      border: 2px dotted #fff;
      border-radius: 50%;
      border-left: none;
      border-bottom: none;
      animation: rotate 0.5s infinite linear;
      transition: opacity 0.1s 0.4s;
      opacity: 0;
    }
    
    &.processing {
      width: 4rem;
      font-size: 0;
      
      &:after {
        opacity: 1;
      }
    }
    
    &.success {
      transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
      transform: scale(30);
      opacity: 0.9;
      //background-color: rgba(255,255,255,0.95);
      
      &:after {
        transition: opacity 0.1s 0s;
        opacity: 0;
      }
    }
  }
  
  &__signup {
    font-size: 1.2rem;
    color: #ABA8AE;
    
    a {
      color: #fff;
      cursor: pointer;
    }
  }
}

.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0,0,0,0.4);
  transform: scale(0);
  animation: animRipple 0.4s;
  border-radius: 50%;
}
@keyframes animRipple {
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}

.logo {
	width:100%;
	padding-top:20px;
}

.form {
	font-family: $font;
	color:#fff;
	width:70%;
	margin:auto;
	text-align:center;
}

input {
	text-align:center;
}

paper-input-decorator /deep/ #focusedUnderline {
  background-color: #FF3366 !important;
}

.pb{padding-bottom:20px !important;}